services:
  backend:
    build: ./tabula-back-end
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build: ./tabula-front-end
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge